<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Details</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content padding>
    <ion-list lines="full">
      <ion-item>
        <ion-input required type="text" placeholder="Task" [(ngModel)]="company.task"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input required type="number" placeholder="Priority" [(ngModel)]="company.priority"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="saveCompany()">Save</ion-button>
  </ion-content>