<app-content-header 
    [icon]="'supervisor_account'" 
    [desc]="'View information about the landen, search, add, edit or delete any land.'"
    [hideBreadcrumb]="false"
    [hasBgImage]="true" 
    [class]="'pb-5'"></app-content-header>

<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" class="px-2 land-toolbar">
    <div fxLayout="row">
        <button mat-icon-button (click)="openLandDialog(null)">
            <mat-icon>person_add</mat-icon>
        </button>
        <!-- <button mat-icon-button (click)="showSearch = !showSearch" class="mx-2">
            <mat-icon>search</mat-icon>
        </button> -->
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
            <div fxLayout="row" fxLayoutAlign="start center" class="search-bar">
                <form method="get">
                    <input type="text" placeholder="Zoeken op naam..." class="mat-elevation-z3">
                </form>
            </div>
        </div>
    <div fxLayout="row">
        <button mat-icon-button (click)="changeView('grid')" class="mx-2">
            <mat-icon>view_module</mat-icon>
        </button>
        <button mat-icon-button (click)="changeView('list')">
            <mat-icon>view_list</mat-icon>
        </button>
    </div>
</mat-toolbar>

<div class="landen-wrapper p-2">
    <div class="search-div">
        <button mat-raised-button  (click)="onCreate()">
            <mat-icon>add</mat-icon>Create
        </button>
        <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"  (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="listData"  matSort>
            <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef  mat-sort-header>Code</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.code}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="naam">
                <mat-header-cell *matHeaderCellDef  mat-sort-header>Naam</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.naam}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
                    <button mat-icon-button color="warn" (click)="onDelete(row.$key)"><mat-icon>delete_outline</mat-icon></button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data...
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    No data.
                </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
    <div *ngIf="!listData" fxLayout="column" fxLayoutAlign="center center" class="land-spinner">
        <mat-spinner color="accent"></mat-spinner>    
    </div>   
</div>