<h1 mat-dialog-title><span *ngIf="!land.id">Add</span><span *ngIf="land.id">Edit</span> land</h1>
<div mat-dialog-content>
    <form [formGroup]="form" class="land-form">      
        <mat-tab-group class="vertical-tabs">
            <mat-tab label="Basic">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-placeholder><mat-icon>person</mat-icon> Code</mat-placeholder>
                        <input matInput formControlName="code" required>
                        <mat-error *ngIf="form.controls.code.errors?.required">Code is required</mat-error>
                        <mat-error *ngIf="form.controls.code.hasError('minlength')">Code isn't long enough, minimum of 5 characters</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-placeholder><mat-icon>vpn_key</mat-icon> Naam</mat-placeholder>
                        <input matInput formControlName="naam" required [type]="passwordHide ? 'naam' : 'text'">
                        <mat-icon matSuffix (click)="naamHide = !naamHide">{{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="form.controls.naam.errors?.required">Password is required</mat-error>
                        <mat-error *ngIf="form.controls.naam.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
                    </mat-form-field>
                </div>
            </mat-tab>
            
            <mat-tab label="Settings" formGroupName="settings">
                <div fxLayout="column" class="form-field-outer">
                    <mat-checkbox formControlName="isActive" class="pb-3">Active</mat-checkbox>
                    <mat-checkbox formControlName="isDeleted" class="pb-3">Blocked</mat-checkbox>
                    <p *ngIf="land.id" class="pb-3"><span>Registration date:</span> <i class="mx-1">{{land.settings.registrationDate | date:"dd MMMM, yyyy 'at' HH:mm" }}</i></p> 
                    <p *ngIf="land.id" class="pb-3"><span>Last joined date:</span> <i class="mx-1">{{land.settings.joinedDate | date:"dd MMMM, yyyy 'at' HH:mm" }}</i> </p>     
                    <mat-form-field>
                        <mat-select placeholder="Choose bg color" formControlName="bgColor" name="bgColor">
                            <mat-option *ngFor="let color of colors" [value]="color.value">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <div class="p-2" [ngClass]="color.value"></div>
                                    <span class="mx-3">{{color.viewValue}}</span> 
                                </div>                               
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]="!form.valid"><span *ngIf="!land.id">Save</span><span *ngIf="land.id">Update</span></button>
    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
</div>